
$fm-blue: #adadff;
$fm-gold: #ffaa00;

header {
    background-color: $fm-blue;
    height: 40px;
    width: 100vw;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 4px;
        width: 680px;

        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 1em;
        }
        .gold {
            color: $fm-gold;
        }
        .black {
            color: black;
        }
        .title {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-size: 1.1em;
            color: white;
            opacity: 0.9;
        }
    }
}